SUPABASE_URL=https://pjnkkhmfwjismqveipok.supabase.co
SUPABASE_ANON_KEY=sb_publishable_J5suxlNBcL4nrbxEUgz_Ug_gzzZGbsV
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBqbmtraG1md2ppc21xdmVpcG9rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODY2ODY0NywiZXhwIjoyMDk0MjQ0NjQ3fQ.TrCjJiRU1s3QF24E86nwnoR_GufwUoZBsvLmnVudBOo
SECRET_KEY=datavai-supabase-secret-key
DEBUG=true
OPENROUTER_API_KEY=sk-or-v1-...
GROQ_API_KEY=gsk_...
GEMINI_API_KEY=AIza...
